<div class="card mb-3">
    {{!-- <img src="https://picsum.photos/300" alt="random" style="width:100%"> --}}
    <div class="card-header">
        <a href="/post/{{id}}" class="card-link"><h2>{{title}}</h2></a>
        <h6>Posted by {{user.username}} on {{format_date date_created}}</h6>
    </div>
    <div class="card-body">
        <p>{{content}}</p>
    </div>
</div>